/* line 4, ../sass/champ.scss */
.champ {
  width: 48px;
  height: 48px;
}
/* line 7, ../sass/champ.scss */
.champ.aatrox {
  background-image: url("../sprite/champion0.png");
  background-position: 0 0;
}
/* line 11, ../sass/champ.scss */
.champ.ahri {
  background-image: url("../sprite/champion0.png");
  background-position: -48px 0;
}
/* line 15, ../sass/champ.scss */
.champ.akari {
  background-image: url("../sprite/champion0.png");
  background-position: -96px 0;
}
/* line 19, ../sass/champ.scss */
.champ.alistar {
  background-image: url("../sprite/champion0.png");
  background-position: -144px 0;
}
/* line 23, ../sass/champ.scss */
.champ.amumu {
  background-image: url("../sprite/champion0.png");
  background-position: -192px 0;
}
/* line 27, ../sass/champ.scss */
.champ.anivia {
  background-image: url("../sprite/champion0.png");
  background-position: -240px 0;
}
/* line 31, ../sass/champ.scss */
.champ.annie {
  background-image: url("../sprite/champion0.png");
  background-position: -288px 0;
}
/* line 35, ../sass/champ.scss */
.champ.ashe {
  background-image: url("../sprite/champion0.png");
  background-position: -336px 0;
}
/* line 39, ../sass/champ.scss */
.champ.aurelion {
  background-image: url("../sprite/champion0.png");
  background-position: -384px 0;
}
/* line 43, ../sass/champ.scss */
.champ.azir {
  background-image: url("../sprite/champion0.png");
  background-position: -432px 0;
}
/* line 48, ../sass/champ.scss */
.champ.bard {
  background-image: url("../sprite/champion0.png");
  background-position: 0 -48px;
}
/* line 52, ../sass/champ.scss */
.champ.blitz {
  background-image: url("../sprite/champion0.png");
  background-position: -48px -48px;
}
/* line 56, ../sass/champ.scss */
.champ.brand {
  background-image: url("../sprite/champion0.png");
  background-position: -96px -48px;
}
/* line 60, ../sass/champ.scss */
.champ.braum {
  background-image: url("../sprite/champion0.png");
  background-position: -144px -48px;
}
/* line 64, ../sass/champ.scss */
.champ.caitlyn {
  background-image: url("../sprite/champion0.png");
  background-position: -192px -48px;
}
/* line 68, ../sass/champ.scss */
.champ.camille {
  background-image: url("../sprite/champion0.png");
  background-position: -240px -48px;
}
/* line 72, ../sass/champ.scss */
.champ.cassiopeia {
  background-image: url("../sprite/champion0.png");
  background-position: -288px -48px;
}
/* line 76, ../sass/champ.scss */
.champ.chogath {
  background-image: url("../sprite/champion0.png");
  background-position: -336px -48px;
}
/* line 80, ../sass/champ.scss */
.champ.corki {
  background-image: url("../sprite/champion0.png");
  background-position: -384px -48px;
}
/* line 84, ../sass/champ.scss */
.champ.darius {
  background-image: url("../sprite/champion0.png");
  background-position: -432px -48px;
}
/* line 89, ../sass/champ.scss */
.champ.diana {
  background-image: url("../sprite/champion0.png");
  background-position: 0 -96px;
}
/* line 93, ../sass/champ.scss */
.champ.draven {
  background-image: url("../sprite/champion0.png");
  background-position: -48px -96px;
}
/* line 97, ../sass/champ.scss */
.champ.mundo {
  background-image: url("../sprite/champion0.png");
  background-position: -96px -96px;
}
/* line 101, ../sass/champ.scss */
.champ.ekko {
  background-image: url("../sprite/champion0.png");
  background-position: -144px -96px;
}
/* line 105, ../sass/champ.scss */
.champ.elise {
  background-image: url("../sprite/champion0.png");
  background-position: -192px -96px;
}
/* line 109, ../sass/champ.scss */
.champ.evelynn {
  background-image: url("../sprite/champion0.png");
  background-position: -240px -96px;
}
/* line 113, ../sass/champ.scss */
.champ.ezreal {
  background-image: url("../sprite/champion0.png");
  background-position: -288px -96px;
}
/* line 117, ../sass/champ.scss */
.champ.fiddle {
  background-image: url("../sprite/champion0.png");
  background-position: -336px -96px;
}
/* line 121, ../sass/champ.scss */
.champ.fiora {
  background-image: url("../sprite/champion0.png");
  background-position: -384px -96px;
}
/* line 125, ../sass/champ.scss */
.champ.fizz {
  background-image: url("../sprite/champion0.png");
  background-position: -432px -96px;
}
/* line 131, ../sass/champ.scss */
.champ.aatrox {
  background-image: url("../sprite/champion1.png");
  background-position: 0 0;
}
/* line 135, ../sass/champ.scss */
.champ.ahri {
  background-image: url("../sprite/champion1.png");
  background-position: -48px 0;
}
/* line 139, ../sass/champ.scss */
.champ.akari {
  background-image: url("../sprite/champion1.png");
  background-position: -96px 0;
}
/* line 143, ../sass/champ.scss */
.champ.alistar {
  background-image: url("../sprite/champion1.png");
  background-position: -144px 0;
}
/* line 147, ../sass/champ.scss */
.champ.amumu {
  background-image: url("../sprite/champion1.png");
  background-position: -192px 0;
}
/* line 151, ../sass/champ.scss */
.champ.anivia {
  background-image: url("../sprite/champion1.png");
  background-position: -240px 0;
}
/* line 155, ../sass/champ.scss */
.champ.annie {
  background-image: url("../sprite/champion1.png");
  background-position: -288px 0;
}
/* line 159, ../sass/champ.scss */
.champ.ashe {
  background-image: url("../sprite/champion1.png");
  background-position: -336px 0;
}
/* line 163, ../sass/champ.scss */
.champ.aurelion {
  background-image: url("../sprite/champion1.png");
  background-position: -384px 0;
}
/* line 167, ../sass/champ.scss */
.champ.azir {
  background-image: url("../sprite/champion1.png");
  background-position: -432px 0;
}
/* line 172, ../sass/champ.scss */
.champ.bard {
  background-image: url("../sprite/champion1.png");
  background-position: 0 -48px;
}
/* line 176, ../sass/champ.scss */
.champ.blitz {
  background-image: url("../sprite/champion1.png");
  background-position: -48px -48px;
}
/* line 180, ../sass/champ.scss */
.champ.brand {
  background-image: url("../sprite/champion1.png");
  background-position: -96px -48px;
}
/* line 184, ../sass/champ.scss */
.champ.braum {
  background-image: url("../sprite/champion1.png");
  background-position: -144px -48px;
}
/* line 188, ../sass/champ.scss */
.champ.caitlyn {
  background-image: url("../sprite/champion1.png");
  background-position: -192px -48px;
}
/* line 192, ../sass/champ.scss */
.champ.camille {
  background-image: url("../sprite/champion1.png");
  background-position: -240px -48px;
}
/* line 196, ../sass/champ.scss */
.champ.cassiopeia {
  background-image: url("../sprite/champion1.png");
  background-position: -288px -48px;
}
/* line 200, ../sass/champ.scss */
.champ.chogath {
  background-image: url("../sprite/champion1.png");
  background-position: -336px -48px;
}
/* line 204, ../sass/champ.scss */
.champ.corki {
  background-image: url("../sprite/champion1.png");
  background-position: -384px -48px;
}
/* line 208, ../sass/champ.scss */
.champ.darius {
  background-image: url("../sprite/champion1.png");
  background-position: -432px -48px;
}
/* line 213, ../sass/champ.scss */
.champ.diana {
  background-image: url("../sprite/champion1.png");
  background-position: 0 -96px;
}
/* line 217, ../sass/champ.scss */
.champ.draven {
  background-image: url("../sprite/champion1.png");
  background-position: -48px -96px;
}
/* line 221, ../sass/champ.scss */
.champ.mundo {
  background-image: url("../sprite/champion1.png");
  background-position: -96px -96px;
}
/* line 225, ../sass/champ.scss */
.champ.ekko {
  background-image: url("../sprite/champion1.png");
  background-position: -144px -96px;
}
/* line 229, ../sass/champ.scss */
.champ.elise {
  background-image: url("../sprite/champion1.png");
  background-position: -192px -96px;
}
/* line 233, ../sass/champ.scss */
.champ.evelynn {
  background-image: url("../sprite/champion1.png");
  background-position: -240px -96px;
}
/* line 237, ../sass/champ.scss */
.champ.ezreal {
  background-image: url("../sprite/champion1.png");
  background-position: -288px -96px;
}
/* line 241, ../sass/champ.scss */
.champ.fiddle {
  background-image: url("../sprite/champion1.png");
  background-position: -336px -96px;
}
/* line 245, ../sass/champ.scss */
.champ.fiora {
  background-image: url("../sprite/champion1.png");
  background-position: -384px -96px;
}
/* line 249, ../sass/champ.scss */
.champ.fizz {
  background-image: url("../sprite/champion1.png");
  background-position: -432px -96px;
}
/* line 255, ../sass/champ.scss */
.champ.aatrox {
  background-image: url("../sprite/champion2.png");
  background-position: 0 0;
}
/* line 259, ../sass/champ.scss */
.champ.ahri {
  background-image: url("../sprite/champion2.png");
  background-position: -48px 0;
}
/* line 263, ../sass/champ.scss */
.champ.akari {
  background-image: url("../sprite/champion2.png");
  background-position: -96px 0;
}
/* line 267, ../sass/champ.scss */
.champ.alistar {
  background-image: url("../sprite/champion2.png");
  background-position: -144px 0;
}
/* line 271, ../sass/champ.scss */
.champ.amumu {
  background-image: url("../sprite/champion2.png");
  background-position: -192px 0;
}
/* line 275, ../sass/champ.scss */
.champ.anivia {
  background-image: url("../sprite/champion2.png");
  background-position: -240px 0;
}
/* line 279, ../sass/champ.scss */
.champ.annie {
  background-image: url("../sprite/champion2.png");
  background-position: -288px 0;
}
/* line 283, ../sass/champ.scss */
.champ.ashe {
  background-image: url("../sprite/champion2.png");
  background-position: -336px 0;
}
/* line 287, ../sass/champ.scss */
.champ.aurelion {
  background-image: url("../sprite/champion2.png");
  background-position: -384px 0;
}
/* line 291, ../sass/champ.scss */
.champ.azir {
  background-image: url("../sprite/champion2.png");
  background-position: -432px 0;
}
/* line 296, ../sass/champ.scss */
.champ.bard {
  background-image: url("../sprite/champion2.png");
  background-position: 0 -48px;
}
/* line 300, ../sass/champ.scss */
.champ.blitz {
  background-image: url("../sprite/champion2.png");
  background-position: -48px -48px;
}
/* line 304, ../sass/champ.scss */
.champ.brand {
  background-image: url("../sprite/champion2.png");
  background-position: -96px -48px;
}
/* line 308, ../sass/champ.scss */
.champ.braum {
  background-image: url("../sprite/champion2.png");
  background-position: -144px -48px;
}
/* line 312, ../sass/champ.scss */
.champ.caitlyn {
  background-image: url("../sprite/champion2.png");
  background-position: -192px -48px;
}
/* line 316, ../sass/champ.scss */
.champ.camille {
  background-image: url("../sprite/champion2.png");
  background-position: -240px -48px;
}
/* line 320, ../sass/champ.scss */
.champ.cassiopeia {
  background-image: url("../sprite/champion2.png");
  background-position: -288px -48px;
}
/* line 324, ../sass/champ.scss */
.champ.chogath {
  background-image: url("../sprite/champion2.png");
  background-position: -336px -48px;
}
/* line 328, ../sass/champ.scss */
.champ.corki {
  background-image: url("../sprite/champion2.png");
  background-position: -384px -48px;
}
/* line 332, ../sass/champ.scss */
.champ.darius {
  background-image: url("../sprite/champion2.png");
  background-position: -432px -48px;
}
/* line 337, ../sass/champ.scss */
.champ.diana {
  background-image: url("../sprite/champion2.png");
  background-position: 0 -96px;
}
/* line 341, ../sass/champ.scss */
.champ.draven {
  background-image: url("../sprite/champion2.png");
  background-position: -48px -96px;
}
/* line 345, ../sass/champ.scss */
.champ.mundo {
  background-image: url("../sprite/champion2.png");
  background-position: -96px -96px;
}
/* line 349, ../sass/champ.scss */
.champ.ekko {
  background-image: url("../sprite/champion2.png");
  background-position: -144px -96px;
}
/* line 353, ../sass/champ.scss */
.champ.elise {
  background-image: url("../sprite/champion2.png");
  background-position: -192px -96px;
}
/* line 357, ../sass/champ.scss */
.champ.evelynn {
  background-image: url("../sprite/champion2.png");
  background-position: -240px -96px;
}
/* line 361, ../sass/champ.scss */
.champ.ezreal {
  background-image: url("../sprite/champion2.png");
  background-position: -288px -96px;
}
/* line 365, ../sass/champ.scss */
.champ.fiddle {
  background-image: url("../sprite/champion2.png");
  background-position: -336px -96px;
}
/* line 369, ../sass/champ.scss */
.champ.fiora {
  background-image: url("../sprite/champion2.png");
  background-position: -384px -96px;
}
/* line 373, ../sass/champ.scss */
.champ.fizz {
  background-image: url("../sprite/champion2.png");
  background-position: -432px -96px;
}
