$green : #288c37;
body {
  .wrapper {
    margin: 0 auto ;
    width : 90%;
    form {
      border : 1px solid;
      .form_parts {
         text-align : center;
         margin : 15px;
         h3 {
           margin : 0;
         }
         .left{
           width:50%;
         }
         .right{
           width: 50%;
         }
         .champ_list {
            display: flex;
            text-align: left;
            width: 90%;
            margin: auto;
            label {
              width: 24%;
              display: inline-block;
            }
            .champ_select_wrapper {
                text-align: center;
                margin : auto;
              .select2-selection{
                text-align: left;
                margin-bottom: 10px;
              }
            }
        }
      }
      #tab {
        list-style-type : none;
        li {
          display: inline-block;
          margin-right : 50px;
          a {
            text-decoration: none;
            color : $green ;
            font-weight : bold;
          }
        }
      }
      .submit_wrapper{
         text-align : center;
         button {
           display: inline-block;
           padding: 0 0 0 10px;
           height: 50px;
           width: 200px;
           position: relative;
           font-size: 20px;
           background: $green;
           border: 0;
           cursor: pointer;
           &::before{
              content: ' ';
              height: 0;
              position: absolute;
              width: 0;
              border: 25px solid transparent;
              border-left-color: white;
              left: 0;
              top: 0;
           }
           &::after {
              content: ' ';
              height: 0;
              position: absolute;
              width: 0;
              border: 25px solid transparent;
              border-left-color: $green;
              left: 100%;
              top: 0;
           }
         }
       }
     }
   }
   .red {
      color : red;
    }
    .hide {
      display: none;
    }
}
